<article class="pub">
  <h3 class="title">{{ include.pub.title }}</h3>
  <p class="authors">{{ include.pub.authors }}</p>
  <p class="venue">{{ include.pub.venue }}</p>

  {% if include.pub.image %}
    <figure class="thumb-wrap">
      <img class="thumb" src="{{ include.pub.image }}" alt="">
    </figure>
  {% endif %}

  {% if include.pub.links %}
    <p class="links">
      {% for l in include.pub.links %}
        <a href="{{ l.url }}">{{ l.text }}</a>{% unless forloop.last %} / {% endunless %}
      {% endfor %}
    </p>
  {% endif %}

  {% if include.pub.excerpt %}<p class="excerpt">{{ include.pub.excerpt }}</p>{% endif %}
</article>
